# Ignore node_modules in both client and server folders
client/node_modules/
server/node_modules/

# Ignore log files
*.log

# Ignore OS-specific files (macOS)
.DS_Store

# Ignore environment variable files (.env)
.env
client/.env
server/.env

# Ignore build directories (if any)
client/build/
server/build/

# Ignore any other node_modules folder
node_modules/