# Ignore node_modules in client and server folders
node_modules
client/node_modules/
server/node_modules/

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store

# Ignore environment variables
.env/

# Ignore build directories (if any)
client/build/
server/build/

# Ignore any other directories or files specific to your project
/node_modules


